  /* CSS Rules for mobile devices */
  @media only screen and (max-width: 480px) {
    
    .hero-bg .hero-content {
      padding: 3rem 0rem 3rem 0rem;
    }
    .hero-bg .bg-img{
      display: none;
    }
    
    .hero-bg .floating-image {
      width: 100% !important;
    }

    .item-card .item-title {
      font-size: 16px;
    }

    .item-card .item-decription {
      font-size: 10px;
    }

    .item-card .item-price {
      position: absolute;
      margin-top: 5rem;
    }

    #cart {
      min-width: 100%;
      min-height: 100%;
      padding: 10px;
    }

    #cart.list {
      border-radius: 0px;
    }

    .items .item-name {
      margin-left: 10px;
    }

    .counter {
      width: 100px;
    }

    /* Modal */
    .modal-footer .modal-counter button span {
      font-size: 12px;
    }

    /* new arrival */
    .new-arrival-card .overlay .text {
      font-size: 1rem;
    }
    .body-bgImage-left{
      display: none;
    }
    .body-bgImage-right{
      display: none;
    }
  }

  /* CSS Rules for landscape mobile devices and tablets */
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    .hero-bg .bg-img{
      display: none;
    }
    
    .hero-bg .floating-image {
      width: 100% !important;
    }

    .item-card .item-title {
      font-size: 16px;
    }

    .item-card .item-decription {
      font-size: 12px;
    }

    .item-card .item-price {
      margin-top: 25px;
    }

    #cart {
      min-width: 100%;
      min-height: 100%;
    }

    #cart.list {
      border-radius: 0px;
    }
    /* new arrival */
    .new-arrival-card .overlay .text {
      font-size: .8rem;
    }

    .body-bgImage-left{
      display: none;
    }
    .body-bgImage-right{
      display: none;
    }
  }

  /* CSS Rules for tablets and small laptops */
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    .hero-bg .floating-image {
      width: 100% !important;
    }

    .hero-bg .bg-img{
      display: none;
    }

    .item-card .item-title {
      font-size: 16px;
    }

    .item-card .item-decription {
      font-size: 10px;
    }

    .item-card .item-price {
      margin-top: 0px;
    }

    #cart {
      min-width: 50%;
      min-height: 100%;
      padding: 15px;
    }

    /* new arrival */
    .new-arrival-card .overlay .text {
      font-size: 1rem;
    }
    .body-bgImage-left{
      /* display:none; */
      left: 0px;
      height: 70px;
      margin-top: -110px;
    }
    .body-bgImage-right{
      right: 15px;
      height: 70px;
      margin-top: -110px;
    }
  }

  /* CSS Rules for laptops and desktops */
  @media only screen and (min-width: 1025px) and (max-width: 1820px) {
    .body-bgImage-left{
      left: 22px;
      transform: rotate(320deg);
      height: 100px;
      margin-top: -125px;  
    }
    .body-bgImage-right{
      right: 22px;
      transform: rotate(44deg);
      height: 100px;
      margin-top: -125px;
    }
  }