/* body {
  font-family: 'Roboto', sans-serif;
} */

h1,
h2,
h3,
p, li, a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/*============= header ============ */
/* ============= starts ================= */
.logo img{
  width: 250px;
}
/* Hamburger */
#cart-items {
    cursor: pointer;
    overflow: visible;
    position: relative;
    z-index: 2;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity (0.5) for the light black effect */
  z-index: 5; /* Adjust z-index to cover the entire page but stay behind the shopping items */
  display: none; /* Initially hidden */
}
#overlay.overlay {
  display: block;
}

#shopping-items {
    z-index: 1;
    min-width: 25%;
    min-height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    padding: 24px;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}

#shopping-items.list {
    visibility: visible;
    opacity: 1;
    padding-top: 40px;
    background-color: #ffffff;
    /* background-color: transparent; Set shopping items background as transparent */
    z-index: 6;
    border-radius: 25px 0px 0px 25px;
}

#shopping-items svg{
  width: 24px;
  height: 24px;
  cursor: pointer;
  background: rgb(219, 219, 219);
  padding: 5px;
  border-radius: 25px;
}
#shopping-items svg:hover{
  background: red;
  color: white;
}

#shopping-items ul {
    padding: 0;
    margin-top: 25px;
}

#shopping-items li {
    list-style: none;
}

#shopping-items a {
    color: #000000;
    display: block;
    font-size: 32px;
    margin-bottom: 30px;
    text-decoration: none;
}

.cart-icon i{
  font-size: 24px;
  color: #1d1d1d;
}

.cart-icon .badge{
  position: absolute;
  background-color: #F9B209;
  border-radius: 50%;
  top: -10px;
  left: 15px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-items img {
  width: 50px;
  border-radius: 10px ;
}

.counter {
  width: 150px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter input {
  width: 50px;
  border: 0;
  line-height: 30px;
  font-size: 20px;
  text-align: center;
  background: #0052cc;
  color: #fff;
  appearance: none;
  outline: 0;
}
.counter span {
  display: block;
  font-size: 25px;
  padding: 0 10px;
  cursor: pointer;
  color: #0052cc;
  user-select: none;
}
/* ============= ends ================= */

/*============= hero-bg ============ */
/* ============= starts ================= */
.hero-bg {
  min-height: fit-content;
  background-color: #1d1d1d;
}

.hero-bg .hero-content{
  margin-top: 8rem;
}

.hero-bg .hero-text {
  font-weight: 550;
  font-size: 3rem;
  line-height: 1.1;
  /* margin: 5rem 5rem 2rem 0rem; */
}

.hero-bg h6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 50px;
}

.hero-bg .floating-image {
  height: auto;
  width: 500px;
  object-fit: cover;
  animation: floatUpDown 2s ease-in-out infinite;
  float: inline-end;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-bg .banner-btn {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 20px 47px 20px 46px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.hero-bg .banner-btn:hover {
  background-color: #F9B209;
  border: none;
  color: #fff;
}
/*============= hero-bg ============ */
/* ============= ends ================= */

/*============= tabs slider starts ============ */
.scrollable-tabs{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1d1d1d;
}
.scrollable-tabs-container{
  font-family: 'Courier New', Courier, monospace;
  /* background-color: #000; */
  max-width: 750px;
  /* margin: 16px auto; */
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg{
  width: 48px;
  height: 48px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container ul{
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container ul.dragging{
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar{
  display: none;
}

.scrollable-tabs-container a{
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container a.active{
  background: #fff;
  color:#000
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active{
  display: flex;
}

.scrollable-tabs-container .right-arrow{
  right: 0;
  background: linear-gradient(to left, #1d1d1d 50%, transparent); 
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow{
  background: linear-gradient(to right, #1d1d1d 50%, transparent);
}

.scrollable-tabs-container svg:hover{
  background: #333;
}

/* Item Card */
.item-card{
  position: relative;
  background-color: #fff;
  padding: 7px;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.25rem 0.2rem rgba(0,0,0,.08);
  cursor: pointer;
}

.item-card .item-image img {
  width: 200px;
  height: auto;
  max-width: 100%;
  float: inline-end;
}

.item-card .cart-button {
  position: absolute;
  bottom: 7px;
  right: 8px;
}
.item-card .cart-button a{
  background: #1d1d1d;
  border: none;
  transition: .5s all;
}
.item-card .cart-button a:hover{
  background: #F9B209;
}

.item-card:hover{
  background-color: #f4f4f4;
  z-index: 1;
  transition: .5s all;
}
.item-card:hover .item-image img {
  opacity: .7;
  transition: .5s all;
}

.item-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.item-info .item-decription{
  margin-bottom: 8px;
  color: #718096;
  font-size: .8rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  line-height: 1rem;
}
.item-info .item-price {
  /* position: absolute;
  top: 9rem; */
  padding: 0 0.3rem;
  background-color: #ffc107;
  color: white;
  border: 1px solid #ffc107;
  width: fit-content;
  margin-top: 25px;
}