/* body {
  font-family: 'Roboto', sans-serif;
} */

h1,
h2,
h3,
p, li, a {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

/*============= header ============ */
/* ============= starts ================= */
.logo img{
  width: 250px;
}

/* ============= ends ================= */

/*============= hero-bg ============ */
/* ============= starts ================= */
.hero-bg {
  min-height: fit-content;
  background-color: #1d1d1d;
}

.hero-bg .hero-content{
  margin-top: 8rem;
}

.hero-bg .hero-text {
  font-weight: 550;
  font-size: 3rem;
  line-height: 1.1;
  /* margin: 5rem 5rem 2rem 0rem; */
}

.hero-bg h6 {
  font-size: 1.125rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 20px 0 50px;
}

.hero-bg .floating-image {
  height: auto;
  width: 500px;
  object-fit: cover;
  animation: floatUpDown 2s ease-in-out infinite;
  float: inline-end;
}

@keyframes floatUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.hero-bg .banner-btn {
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 20px 47px 20px 46px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-align: center;
  font-weight: 700;
  color: #fff;
}

.hero-bg .banner-btn:hover {
  background-color: #F9B209;
  border: none;
  color: #fff;
}
/*============= hero-bg ============ */
/* ============= ends ================= */

/*============= tabs slider starts ============ */
.scrollable-tabs{
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #1d1d1d;
}
.scrollable-tabs-container{
  font-family: 'Courier New', Courier, monospace;
  /* background-color: #000; */
  max-width: 750px;
  /* margin: 16px auto; */
  margin: auto;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}

.scrollable-tabs-container svg{
  width: 48px;
  height: 48px;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  pointer-events: auto;
}

.scrollable-tabs-container ul{
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0;
  list-style: none;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scrollable-tabs-container ul.dragging{
  scroll-behavior: auto;
}

.scrollable-tabs-container ul::-webkit-scrollbar{
  display: none;
}

.scrollable-tabs-container a{
  color: #fff;
  text-decoration: none;
  background: #333;
  padding: 4px 24px;
  display: inline-block;
  border-radius: 4px;
  user-select: none;
  white-space: nowrap;
}

.scrollable-tabs-container a.active{
  background: #fff;
  color:#000
}

.scrollable-tabs-container .right-arrow,
.scrollable-tabs-container .left-arrow {
  position: absolute;
  height: 100%;
  width: 100px;
  top: 0;
  display: none;
  align-items: center;
  padding: 0 10px;
  pointer-events: none;
}

.scrollable-tabs-container .right-arrow.active,
.scrollable-tabs-container .left-arrow.active{
  display: flex;
}

.scrollable-tabs-container .right-arrow{
  right: 0;
  background: linear-gradient(to left, #1d1d1d 50%, transparent); 
  justify-content: flex-end;
}

.scrollable-tabs-container .left-arrow{
  background: linear-gradient(to right, #1d1d1d 50%, transparent);
}

.scrollable-tabs-container svg:hover{
  background: #333;
}

/* Item Card */
.item-card{
  position: relative;
  background-color: #fff;
  padding: 7px;
  border-radius: 0.4rem;
  box-shadow: 0 0 1.25rem 0.2rem rgba(0,0,0,.08);
  cursor: pointer;
}

.item-card .item-image img {
  width: 200px;
  height: auto;
  max-width: 100%;
  float: inline-end;
}

.item-card .cart-button {
  position: absolute;
  bottom: 7px;
  right: 8px;
}


.item-card:hover{
  background-color: #f4f4f4;
  z-index: 1;
  transition: .5s all;
}
.item-card:hover .item-image img {
  opacity: .7;
  transition: .5s all;
}

.item-info {
  padding: 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.item-info .item-decription{
  margin-bottom: 8px;
  color: #718096;
  font-size: .8rem;
  padding: 0.1rem;
  border-radius: 0.5rem;
  line-height: 1rem;
}
.item-info .item-price {
  /* position: absolute;
  top: 9rem; */
  padding: 0 0.3rem;
  background-color: #ffc107;
  color: white;
  border: 1px solid #ffc107;
  width: fit-content;
  margin-top: 25px;
}